@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');

* {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #009FFD, #2A2A72);
	color: white;
	text-align: center;
}

.btn {
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:7px;
	border:1px solid #dcdcdc;

	cursor:pointer;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	text-transform: uppercase;
	
	padding:6px 24px;
	margin: 6px;
}
.btn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.btn:active {
	position:relative;
	top:1px;
}